.agradecimiento{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 160px;
    padding-left:200px;
    padding-right:200px;
    margin-left:0;
    padding-top: 90px;
    text-align: center;
}

.agradecimiento img{
    width:300px;
    display: flex;
}

@media (max-width:600px){
    .agradecimiento{
        display: flex;
        align-items: center;
        width: 100px;
        justify-content: center;
        left: 5px;
    }

    .agradecimiento p{
        display: none;
    }
}