
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  
 
  
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
  
  
}
