.dropdown-content{
    display: flex;
    flex-direction: column;
    border-style: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9) inset;
    position: absolute;
    top: 100%;
    left: 0;
    animation: downOut 300ms ease-in-out;
    transform-origin: center center;
}

/* .dropdown_menu-8
    animation: downOut 300ms ease-in-out forwards
    transform-origin: center center */


@keyframes downOut {
     0% {
        transform: translateZ(200px) transLateY(40px)
    }
    80% {
        transform: translateZ(-10px) transLateY(0px)
    }
    100% {
        transform: translateZ(0px) transLateY(0px)
    }
}


.dropdown{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.dropdown button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-content button{
    color: var(--blanco);
    text-decoration: none;
    background-color: var(--verde-oscuro);
    padding-left: 6px;
    border-style: none;
    width:auto;
}

.dropdown-content a:hover{
    background-color: var(--verde-pardo);
    color: var(--blanco);
}

.dropdown-content button:hover{
    background-color: var(--verde-pardo);
}

