.formulario-donacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -40px;
    background-color: #39621b;
    max-width:400px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.formulario-donacion label{
    margin-right: 5px;
}

.formulario-donacion input{
    display: flex;
    justify-content: center;
    background-color: #7a9851;
    border-style: none;
    border-radius: 5px;
    width: 150px;
}

.formulario-donacion div{
    margin-bottom: 5px;
}

#amount{
    width: 50px;
}

.dona-button button{
    display: flex;
    background-color: #6a9c2a;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    /* margin-left: 10px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}