  *{
    color: white;
  }
  
  .Navbar{
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color:var(--verde-oscuro);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    z-index: 100;
  }
  
  .Buttons_Navbar{
    display: flex;
    background-color: var(--verde-oscuro);
    margin-right: 8px;
  }
  
  .Buttons_Navbar button{
    background-color: var(--verde-oscuro);
    color: var(--blanco);
  }
  
  .Logo{
    display: flex;
    align-items: center;
    background-color: transparent;
    height:70px;
    overflow: hidden;
  }

  .Logo img{
    border-radius: 100px;
    overflow: hidden;
    margin-right: 10px;
    height: 70px;
    width: auto;
  }

  .Logo button{
    background-color: transparent;
    border-style: none;
  }

  .Logo h3{
    color: var(--blanco);
    text-align: center;
    background-color: var(--verde-oscuro);
  }

  .Logo h3:hover{
    cursor:default;
  }

  button {
    border: 1px solid var(--blanco);
    color: var(--blanco);
    text-decoration: none;
    border-top: transparent;
    border-bottom: transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    color: var(--marron);
  }

  a{
    color: var(--blanco);
    text-decoration: none;
  }

  a:hover{
    color: var(--marron);
  }

  .dropdown{
    position: relative;
  }

  .dropdown-content{
    position: absolute;
    width: 100%;
    border:none;
  }

  .Nav_Burger{
    display:none;
  }


  @media (max-width:600px){
    .Buttons_Navbar{
      display:none;
    }

    .Logo h3{
      display:none;
    }

    .Nav_Burger{
      display: flex;
    }
  }
  